<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Counting Votes</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="LAB15" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="sass/main.min.css" />
    <link rel="stylesheet" type="text/css" href="css/custom-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/vue-qrcode-reader.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="scandit-barcode-picker" class="scanner"></div>
    <div id="scandit-barcode-result" class="result-text" style="display:block;!important"></div>

    <div id="app" class="main scan" style="display: none">
        <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
            <div class="col-md-3">
                <a class="nav" href="dashboard.html">
                    <i class="icon icon-chevron-left"></i>
                </a>
            </div>

            <div class="col-md-6 text-center">
                <h1 class="title">{{$t('message.scan')}}</h1>
            </div>

            <div class="col-md-3">
                <a href="dashboard.html" class="navbar-toggler">
                    <i class="icon icon-menu"></i>
                </a>
            </div>
        </header>

        <section class="cv-fullwidth has-header">
            <div class="row no-gutters">
                <div class="col col-lg-6 camera-wrapper">

                </div>

                <div class="col col-lg-6 transactions-wrapper">
                    <div class="page-title page-title-sm">
                        <h5>{{$t('message.transactions')}}</h5>
                    </div>

                    <div class="transactions-list">
                        <ul class="list-unstyled">
                            <li v-for="t in transactions">
                                <div>{{t.transactionHash}}</div>
                                <i v-if="t.error" class="icon icon-close"></i>
                                <i v-else class="icon icon-check"></i>
                            </li>
                        </ul>
                    </div>

                    <div class="vote-options">
                        <div id="private-power-of-attorney-cancellation" class="private-wrapper">
                            <p>{{$t('message.scanThePrivateAuthorizationCode')}}</p>
                            <button v-on:click="cancelPrivatePowerOfAttorney" class="btn btn-info">{{$t('message.cancel')}}</button>
                        </div>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#voter-pass">{{$t('message.voterPass')}}</button>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#power-attorney">{{$t('message.powerOfAttorney')}}</button>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#manual-input">{{$t('message.manualInput')}}</button>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#objection-pilot">{{$t('message.objectionToPilot')}}</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="voter-pass" tabindex="-1" role="dialog" aria-labelledby="VoterPass" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('message.cVoterPass')}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-8 text-center">
                                    <p>{{$t('message.doYoutWantToRegister')}}
                                        <strong>{{$t('message.voterPass')}}</strong>?</p>
                                    <div class="btn-group-separated">
                                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">{{$t('message.ne')}}</button>
                                        <button type="button" class="btn btn-primary btn-sm" v-on:click='votersPass' data-dismiss="modal">{{$t('message.ya')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->

        <div class="modal fade" id="objection-pilot" tabindex="-1" role="dialog" aria-labelledby="ObjectionPilot" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('message.cObjectionToPilot')}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-8 text-center">
                                    <p>{{$t('message.doYoutWantToRegister')}}
                                        <strong>{{$t('message.objectionToPilot')}}</strong>?</p>

                                    <div class="btn-group-separated">
                                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">{{$t('message.ne')}}</button>
                                        <button type="button" class="btn btn-primary btn-sm" v-on:click='objection' data-dismiss="modal">{{$t('message.ya')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->

        <div class="modal fade" id="manual-input" tabindex="-1" role="dialog" aria-labelledby="ManualInput" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('message.cManualInput')}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-8">
                                    <div class="input-group mb-5">
                                        <input type="text" v-model="model.qrcode" class="form-control" placeholder="insert the vote code" aria-label="enter your activation code">
                                        <span class="input-border"></span>
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-link" v-on:click="manualInput" data-dismiss="modal">{{$t('message.ok')}}
                                                <i class="icon icon-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->

        <div class="modal fade" id="power-attorney" tabindex="-1" role="dialog" aria-labelledby="PowerAttorney" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('message.cPowerOfAttorney')}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-12 text-center">
                                    <div class="btn-group-vertical">
                                        <button type="button" class="btn btn-info btn-block" v-on:click="privatePowerOfAttorney" data-attorney="private">{{$t('message.privateAuthorization')}}</button>
                                        <button type="button" class="btn btn-info btn-block" data-attorney="written">{{$t('message.writtenAuthorization')}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-block btn-submit" data-dismiss="modal" disabled>{{$t('message.ok')}}
                            <i class="icon icon-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->

        <div class="modal fade" id="written-authorization" tabindex="-1" role="dialog" aria-labelledby="WrittenAuthorization" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('message.powerOfAttorney')}}</h5>
                    </div>

                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-md-center">
                                <div class="col col-lg-8 text-center">
                                    <p>{{$t('message.doYouWantToRegisterWrittenAuthorization')}}</p>
                                    <div class="btn-group-separated">
                                        <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">{{$t('message.ne')}}</button>
                                        <button type="button" class="btn btn-primary btn-sm" v-on:click="writtenPowerOfAttorney" data-dismiss="modal">{{$t('message.ya')</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /modal -->

        <div id="confirm-qrcode-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{$t('message.confirmation')}}</h5>
                    </div>
                    <div class="modal-body">
                        {{$t('message.areYouSureToSaveQrCode')}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-success" id="button-yes">{{$t('message.ya')}}</button>
                        <button type="button" data-dismiss="modal" class="btn btn-danger">{{$t('message.ne')}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main -->

    <!-- base -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-i18n/7.4.2/vue-i18n.min.js"></script>
    <script src="/js/vue-toasted.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- /base -->
    <script src="js/scandit.base.min.js"></script>
    <script src="/js/language.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/scan.js"></script>
    <script>

    </script>
</body>

</html>